{% extends "qa_web/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/Markdown.Converter.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Editor.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Sanitizer.min.js'%}"></script>
    <script src="{% static 'js/base.js'%}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pagedown.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <style>
      .wmd-button > span {
        background-image: url("{% static 'img/wmd-buttons.svg' %}");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      #wmd-input {
        padding: 10px;
        background-color: white;
        max-width: 660px;
        min-width: 660px;
      }
      .wmd-spacer {
        background-color: white;
        width: 0;
      }
      #wmd-button-bar {
        height: 44px;
        padding: 0 12px;
        width: 660px;
        border: 1px solid #c8ccd0;
        box-sizing: border-box;
      }
    </style>
{% endblock %}


<main>

    {% block header %}
    <!-- Display the question's data -->
    <div class="masthead-content">
      <div class="container" id="question">
         <h1 class="masthead-heading mb-0"><b>{{ currentQuestion.title }}</b> &nbsp; <span class="label label-primary">{{ currentQuestion.visits }} visits</span></h1>
          <h2 class="masthead-subheading mb-0"><p>{{ currentQuestion.content }}</p></h2>
        <h6>Question by {{ currentQuestion.owner }} on {{ currentQuestion.creation_date }}</h6>
        <a id='upvote_{{ currentQuestion.id }}_question'><button>Upvote</button></a>
        <span id='score_{{ currentQuestion.id }}_question'>{{ currentQuestion.score }}</span>
        <a id='downvote_{{ currentQuestion.id }}_question'><button>Downvote</button></a>

    </div>
    </div>

    {% endblock %}

    {% block content %}
    <div id="answers">
    <!-- Display the answers -->
    {% if bestAnswer %}
        <form id="deselect_form" method="post">
            {% csrf_token %}
            {% if user == currentQuestion.owner %}
                <h3 class="good_answer">You have selected this as the best answer!</h3>
            {% else %}
                <h3 class="good_answer">{{currentQuestion.owner}} has selected this as the best answer!</h3>
            {% endif %}
            <p>{{ bestAnswer.content }}</p>
            <!--Allow one to deselect the best answer if user is logged in and is the user who asked the question-->
            {% if user.is_authenticated and user == currentQuestion.owner %}
                <input type = "submit" name="deselect", value="Deselect as Best Answer"/>
            {% endif %}
            <h6>Answer by {{ bestAnswer.owner }} on {{ bestAnswer.creation_date }}</h6>
        </form>
        <a id='upvote_{{ bestAnswer.id }}_answer'><button>Upvote</button></a>
        <span id='score_{{ bestAnswer.id }}_answer'>{{ bestAnswer.score }}</span>
        <a id='downvote_{{ bestAnswer.id }}_answer'><button>Downvote</button></a>

        {% for comment in a_comments %}
        {% if comment.answer.id == bestAnswer.id %}
            <p>{{ comment.content }} (Comment by: {{ comment.owner }}. Date posted: {{ comment.creation_date }})
                 <a id='upvote_{{ comment.id }}_comment'><button>Upvote</button></a>
                 <span id='score_{{ comment.id }}_comment'>{{ comment.score }}</span>
                 <a id='downvote_{{ comment.id }}_comment'><button>Downvote</button></a>
            </p>
        {% endif %}
        {% endfor %}

      {% if user.is_authenticated %}
        <p>Got a comment? Why not share it here!</p>
        <form id="comment_form_answer_{{ bestAnswer.id }}" method="post">
          {% csrf_token %}
            <textarea id="wmd-input" name="content" class="wmd-input"></textarea></br>
            <input type="submit" name="comment_form_answer_{{ bestAnswer.id }}" value="Submit your comment"/>
         </form>
      {% endif %}

        <h3>Other answers:</h3>
        <hr>
    {% endif %}

        {% for answer in answers %}
        <form id="select{{ answer.id }}_form" method="post">
            {% csrf_token %}
            <p>{{ answer.content }}</p>
            <!--Allow one to select best answers if user is logged in, is the user who asked the question and a best answer doesn't exist already-->
            {% if user.is_authenticated and user == currentQuestion.owner and not bestAnswer %} 
                <input type = "submit" name="select_{{ answer.id }}" value="Select as Best Answer"></input>
            {% endif %}
            <h6>Answer by {{ answer.owner }} on {{ answer.creation_date }}</h6>
        </form>
        <a id='upvote_{{ answer.id }}_answer'><button>Upvote</button></a>
        <span id='score_{{ answer.id }}_answer'>{{ answer.score }}</span>
        <a id='downvote_{{ answer.id }}_answer'><button>Downvote</button></a>

       {% for comment in a_comments %}
           {% if comment.answer.id == answer.id %}
            <p>{{ comment.content }} (Comment by: {{ comment.owner }}. Date posted: {{ comment.creation_date }})
                 <a id='upvote_{{ comment.id }}_comment'><button>Upvote</button></a>
                 <span id='score_{{ comment.id }}_comment'>{{ comment.score }}</span>
                 <a id='downvote_{{ comment.id }}_comment'><button>Downvote</button></a>
            </p>
           {% endif %}
      {% endfor %}

      {% if user.is_authenticated %}
        <p>Got a comment for this answer? Why not share it here!</p>
        <form id="comment_form_answer_{{answer.id}}" method="post">
          {% csrf_token %}
            <textarea id="wmd-input" name="content" class="wmd-input"></textarea></br>
            <input type="submit" name="comment_form_answer_{{ answer.id }}" value="Submit your comment"/>
         </form>
      {% endif %}

        <hr>
    {% empty %}
        <h3>Be the first to answer this question!</h3>
    {% endfor %}
    </div>
    <!-- Display the answering form for logged in users -->
    {% if user.is_authenticated %}
        <form id="answer_form" method="post">
            {% csrf_token %}
            <div id="wmd-button-bar"></div>
            <textarea id="wmd-input" name="content" class="wmd-input"></textarea>
            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            <input type="submit" name="answer_form" value="Submit your answer"/>
        </form>
    {% else %}
    <p>To answer this question, <a href="/login">login</a> or <a href="/signup">sign up</a>!</p>
    {% endif %}
</main>
{% endblock %}
