<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Profile</title>
    </br>
    <h1> Account Setting</h1>

</head>
<body>

    <form>
         First name:<br><br>
     <input type="text" info="firstname" value="">
        <br>
        Last name:<br><br>
        <input type="text" info="lastname" value="">
        <br>
         E-mail:<br><br>
     <input type="text" info="email" value="">
        <br>
        Age:<br><br>
     <input type="text" info="age" value="">
        <br>
        Birthday(mm/dd/yy):<br><br>
        <input type="text" info="birthday" value="jan">
        <br>
        School:<br><br>
        <input type="text" info="school" value="">
        <br>
        Major:<br><br>
     <input type="text" info="major" value="">
        <br>
        City:<br><br>
        <input type="text" info="city" value="">
        <br>

     <input type="submit" info="Submit">
    </form>

<p>Clicking Submit will save and update your profile page.</p>
</body>
</html>
