{% extends "qa_web/base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/Markdown.Converter.min.js' %}"></script>
<script src="{% static 'js/Markdown.Editor.min.js' %}"></script>
<script src="{% static 'js/Markdown.Sanitizer.min.js'%}"></script>
<script src="{% static 'js/base.js'%}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
{% endblock %}

{% block header %}
<div class="masthead-content">
    <div class="container">
        <h1 class="masthead-heading mb-0">{{ user }}</h1>
        <BR><BR><BR>
    </div>
</div>
{% endblock %}

{% block content %}



    <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text|safe }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

  <br><br>



<p>Clicking Submit will save and update your profile page.</p>
<p> You will now be redirected to your profile page.</p>

{% endblock content %}