<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> edit questions </title>
	{% load static %}
    <script src="{% static 'js/Markdown.Converter.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Editor.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Sanitizer.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/pagedown.css' %}" />
    {% include "qa_web/editor_style.html" %}
</head>
<body>
    <a href="../"><button>Discard Changes</button></a>
    <form method="post">
      {% csrf_token %}
      <input id="title" name = "title" type="text" placeholder="question title" value="{{ currentQ.title }}" required/>
      <div id="wmd-button-bar"></div>
      <textarea id="wmd-input" name="content" class="wmd-input" placeholder="type your description here" required>{{ currentQ.content}}</textarea>
      <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
      <input type="submit" href="../" value="Submit"/>
    </form>
    <script>
      var converter = Markdown.getSanitizingConverter();
      var editor = new Markdown.Editor(converter);
      editor.run();
    </script>
</body>
</html>