{% extends 'qa_web/base.html' %}
{% load staticfiles %}
{% block header %}
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Got Questions</h1>
            <h2 class="masthead-subheading mb-0"> ? !</h2>
            <a href="/questions/" class="btn btn-primary btn-xl rounded-pill mt-5">Click to Ask a Question</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        
                        <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt=""/>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">You're asking if we've GOT ANSWERS?</h2>
                        <p>Wondering where you can find detailed, elaborate and clear answers to your complex questions?
                            Are typical search engines not yielding the answers you need? Well no need to worry because...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                         <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt=""/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">We GOT ANSWERS!</h2>
                        <p>Here on this easy to use website you will find the answers you need. If the answers you seek are not
                            already there, simply sign up and ask us your question! But most importantly...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt=""/>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Now you GOT ANSWERS!</h2>
                        <p>Help us improve your experience by rating answers and comments submitted.
                            Don't forget to help others in your situation by selecting the best answer to your question!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}