{% extends 'qa_web/base.html' %}
{% load staticfiles%}

{% block content %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Sign In to Ask, Answer & Rate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Got Answers</h1>
        <h2 class="masthead-subheading mb-0"> ? !</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Click to Ask or Answer</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            
            <img class="img-fluid rounded-circle" src="{% static 'css/img/01.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">you're asking if we GOT ANSWERS?</h2>
            <p>Wondering where you can find detailed, well elaborate and clear answers to your complex questions? Are typical serach engines not yeilding the answers you need? Well no need to worry because...</p>
          </div>
          </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
             <img class="img-fluid rounded-circle" src="{% static 'css/img/02.jpg' %}"" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">we GOT ANSWERS!</h2>
            <p>Here on this easy to use website you will find the answers you need. If the answers are not already there, it means the question was not asked before, so use our easy sign up and ask away! But remember...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'css/img/03.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">now you GOT ANSWERS...</h2>
            <p> so ask yourself is this answer you have got was sufficient, and give it a rating if it helped you so it can help others. If the answer did not help, then be patient for the next answer! </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; CONCORDIA UNIVERSITY : SOEN 341 PROJECT </p>
    </div>
    <!-- /.container -->
  </footer>

{% endblock %}