<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SA3 QA Website Index</title>
    <style>
        table, th, td {
            border: 1px solid black
        }
    </style>
</head>
<body>
<h1>Temporary Index Page for SOEN341 W18 group SA3.</h1>
<a href="./login/"><button>Login</button></a>
<a href="./signup/"><button>Signup</button></a>

{% if questions %}
<table>
    <tr>
        <th>Question ID</th>
        <th>Content</th>
        <th>Owner</th>
        <th>Creation Date</th>
    </tr>
    {% for question in questions %}
    <tr>
        <td>{{ question.id }}</td>
        <td><a href="./questions/{{question.id}}">{{ question.content }}</a></td>
        <td>{{ question.owner }}</td>
        <td>{{ question.creation_date.date }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>
    No questions to display.
</p>
{% endif %}
<p><a href="./questions/"><button>Got questions? Click here!</button></a>(You'll need to be logged in to do so!)</p>
<p>Head over to the <a href="./admin">admin page</a> to add more posts.</p>
</body>
</html>
