<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
		<meta charset="utf-8">
		<link href="{% static 'css/reglogin.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Log In into your account!</title>
</head>
<body>
    {% if password_is_wrong %}
        <div class="alert alert-error">
            <h5>Incorrect username or password</h5>
        </div>
    {% endif %}
	<div class="main">
		<div class="header" >
			<h1>Welcome to QA_Web</h1>
			<a href="../"><button>Back to Index</button></a>
		</div>
		<p></p>
			<form method="post">
				<ul class="right-form">
					<h2>Login:</h2>
					<li><input type="text" name="username" placeholder="Username" required/></li>
					<li><input type="password" name="password" placeholder="Password" required/></li>
					<input type="submit" value="Login" >
                    <input type="button" value="Signup" onclick="location.href='http://localhost:8000/signup'">
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>

			</form>
	</div>
</body>
</html>
