

<html>
  <head>
  
	<meta charset="UTF-8">
    <title>SA3 QA Website Questions</title>
	{% load static %}
    <script src="{% static 'js/Markdown.Converter.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Editor.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Sanitizer.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/pagedown.css' %}" />
    {% include "qa_web/editor_style.html" %}

  </head>
  <body>
    <a href="../"><button>Back to Index</button></a>
    <form method="post">
      {% csrf_token %}
      <h1>got Questions?!</h1>
      <input id="title" name = "title" type="text" placeholder="question title" required/>
      <div id="wmd-button-bar"></div>
      <textarea id="wmd-input" name="content" class="wmd-input" placeholder="type your description here" required></textarea>
      <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
      <input type="submit" value="Submit"/>
    </form>
    <script>
      var converter = Markdown.getSanitizingConverter();
      var editor = new Markdown.Editor(converter);
      editor.run();
    </script>
  </body>
</html>