{% extends "qa_web/base.html" %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/Markdown.Converter.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Editor.min.js' %}"></script>
    <script src="{% static 'js/Markdown.Sanitizer.min.js' %}"></script>
    <script src="{% static 'js/questionthread.js' %}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/pagedown.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% include "qa_web/includes/editor_style.html" %}
{% endblock %}
{% block header %}
    <div class="masthead-content">
        <div class="container" id="question">
            <h1 class="masthead-heading mb-0">
                <span id="title_question">
                    <b>{{ currentQuestion.title }}</b>
                </span> &nbsp; 
                <span class="label label-primary">
                    {{ currentQuestion.visits }} visits
                </span>
            </h1>
            <h5 class="masthead-subheading mb-0">
                <p><span class="marked" id="content_question">{{ currentQuestion.content }}</span></p>
            </h5>
            <h6>
                Question by {{ currentQuestion.owner }} on 
                {{ currentQuestion.creation_date }}
            </h6>
            <br/><br/>
            <table align="center">
                <tr>
                    <td>
                        <a id='upvote_{{ currentQuestion.id }}_question'
                           class="{% if pos_v_q %}voted{% endif %}">
                            <button class="btn btn-primary btn-xl
                            rounded-pill mt-5">Upvote</button>
                        </a>
                    </td>
                    <td>
                        <span class="btn btn-primary btn-xl rounded-pill mt-5"
                            id='score_{{ currentQuestion.id }}_question'>
                            {{ currentQuestion.score }}
                        </span>
                    </td>
                    <td>
                        <a id='downvote_{{ currentQuestion.id }}_question'
                           class="{% if neg_v_q %}voted{% endif %}">
                            <button class="btn btn-primary btn-xl
                            rounded-pill mt-5">Downvote</button>
                        </a>
                    </td>
                </tr>
            </table><br/>
            {% if user.is_authenticated and user.id == currentQuestion.owner_id %}
                <a href="./edit" class="btn btn-primary btn-xl
                rounded-pill mt-5">
                    Edit
                </a>
                <a href="./delete/" class="btn btn-primary btn-xl
                rounded-pill mt-5"
                    onclick="return confirm('Are you sure you want to delete')">
                    Delete
                </a>
            {% endif %}
            {% for comment in q_comments %}
                <p>
                    <span class="marked">{{ comment.content }}</span>
                    (Comment by: {{ comment.owner }}. Date posted: {{ comment.creation_date }})
                     <a id='upvote_{{ comment.id }}_comment'
                        class="{% if comment.id in pos_v_c %}voted{% endif %}">
                         <button>Upvote</button>
                     </a>
                    <span id='score_{{ comment.id }}_comment'>
                        {{ comment.score }}
                    </span>
                      <a id='downvote_{{ comment.id }}_comment'
                         class="{% if comment.id in neg_v_c %}voted{% endif %}">
                          <button>Downvote</button>
                      </a>
                </p>
            {% endfor %}
            {% if user.is_authenticated %}
                <button type="button" id="postCquestion" data-toggle="modal" 
                    data-target="#formModal">Post comment!</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <br>
    <div id="answers">
    {% if bestAnswer %}
        <form id="deselect_form" method="post">
            {% csrf_token %}
            {% if user == currentQuestion.owner %}
                <h3 class="good-answer">
                    You have selected this as the best answer!
                </h3>
            {% else %}
                <h3 class="good-answer">
                    {{ currentQuestion.owner }} has selected this as the 
                    best answer!
                </h3>
            {% endif %}
            <p><span class="marked" id="content_answer_{{ bestAnswer.id }}">{{ bestAnswer.content }}</span></p>
            {% if user.is_authenticated and user == currentQuestion.owner %}
                <input type = "submit" name="deselect" 
                    value="Deselect as Best Answer"/>
            {% endif %}
            <h6>
                Answer by {{ bestAnswer.owner }} on 
                {{ bestAnswer.creation_date }}
            </h6>
        </form>
         <a id='upvote_{{ bestAnswer.id }}_answer'
            class="{% if bestAnswer.id in pos_v_a %}voted{% endif %}">
             <button>Upvote</button>
         </a>
        <span id='score_{{ bestAnswer.id }}_answer'>
            {{ bestAnswer.score }}
        </span>
        <a id='downvote_{{ bestAnswer.id }}_answer'
           class="{% if bestAnswer.id in neg_v_a %}voted{% endif %}">
            <button>Downvote</button>
        </a><br><br>
        {% if user.is_authenticated and bestAnswer.owner.id == user.id %}
            <a href="./edit_answers/{{ bestAnswer.id }}">
                <button>Edit Answer</button>
            </a>
        {% endif %}
        {% for comment in a_comments %}
            {% if comment.answer.id == bestAnswer.id %}
                <span class="marked">{{ comment.content }}</span>
                <h6>(Comment by: {{ comment.owner }}. 
                    Date posted: {{ comment.creation_date }})
                    <a id='upvote_{{ comment.id }}_comment'
                       class="{% if comment.id in pos_v_c %}voted{% endif %}">
                        <button>Upvote</button>
                    </a>
                    <span id='score_{{ comment.id }}_comment'>
                        {{ comment.score }}
                    </span>
                     <a id='downvote_{{ comment.id }}_comment'
                        class="{% if comment.id in neg_v_c %}voted{% endif %}">
                         <button>Downvote</button>
                     </a><br><br>
                </h6>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <button type="button" id="postCanswer_{{ bestAnswer.id }}" 
                data-toggle="modal" data-target="#formModal">
                Post comment!
            </button>
        {% endif %}
        <hr>
        <h3>Other answers:</h3>
    {% endif %}
    <form id="sort_by_form" method="POST">
        {% csrf_token %}
        Sort by:
        <select name="sort_by_form_select" id="selectSortBy" 
            selected="{{ initial_select_value }}" onchange="this.form.submit()">
            {% if initial_select_value == "highestScore" %}
                <option value="highestScore" selected="selected">
                    Highest Score
                </option>
            {% else %}
                <option value="highestScore">Highest Score</option>
            {% endif %}
            {% if initial_select_value == "lowestScore" %}
                <option value="lowestScore" selected="selected">
                    Lowest Score   
                </option>
            {% else %}
                <option value="lowestScore">Lowest Score</option>
            {% endif %}
            {% if initial_select_value == "mostRecent" %}
                <option value="mostRecent" selected="selected">
                    Most Recent
                </option>
            {% else %}
                <option value="mostRecent">Most Recent</option>
            {% endif %}
            {% if initial_select_value == "leastRecent" %}
                <option value="leastRecent" selected="selected">
                    Least Recent
                </option>
            {% else %}
                <option value="leastRecent">Least Recent</option>
            {% endif %}
        </select>
    </form>
    <hr>
    {% for answer in answers %}
        <form id="select{{ answer.id }}_form" method="post">
            {% csrf_token %}
            <p><span class="marked" id="content_answer_{{ answer.id }}">{{ answer.content }}</span></p>
            {% if user.is_authenticated and user == currentQuestion.owner and not bestAnswer %}
                <input type = "submit" name="select_{{ answer.id }}" 
                    value="Select as Best Answer"/>
            {% endif %}
            <h6>Answer by {{ answer.owner }} on {{ answer.creation_date }}</h6>
        </form>
        <a id='upvote_{{ answer.id }}_answer'
           class="{% if answer.id in pos_v_a %}voted{% endif %}">
            <button>Upvote</button>
        </a>
        <span id='score_{{ answer.id }}_answer'>{{ answer.score }}</span>
         <a id='downvote_{{ answer.id }}_answer'
            class="{% if answer.id in neg_v_a %}voted{% endif %}">
             <button>Downvote</button>
         </a><br><br>
        {% if user.is_authenticated and answer.owner.id == user.id %}
            <a href="./edit_answers/{{ answer.id }}">
                <button>Edit Answer</button>
            </a>
        {% endif %}
        {% for comment in a_comments %}
             {% if comment.answer.id == answer.id %}
                <span class="marked">{{ comment.content }}</span>
                <h6>(Comment by: {{ comment.owner }}. 
                    Date posted: {{ comment.creation_date }})
                    <a id='upvote_{{ comment.id }}_comment'
                       class="{% if comment.id in pos_v_c %}voted{% endif %}">
                        <button>Upvote</button>
                    </a>
                    <span id='score_{{ comment.id }}_comment'>
                        {{ comment.score }}
                    </span>
                    <a id='downvote_{{ comment.id }}_comment'
                       class="{% if comment.id in neg_v_c %}voted{% endif %}">
                        <button>Downvote</button>
                    </a><br><br>
                </h6>
             {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <button type="button" id="postCanswer_{{ answer.id }}" 
                data-toggle="modal" data-target="#formModal">
                Post comment!
            </button>
        {% endif %}
        <hr>
    {% empty %}
        <h3>Be the first to answer this question!</h3>
    {% endfor %}
    </div>
    {# Display the answering form for logged in users #}
    {% if user.is_authenticated %}
        <button type="button" id="postA" data-toggle="modal" 
            data-target="#formModal">
            Got Answers!? Click here to share them!
        </button>
    {% else %}
        <p>To answer this question, 
            <a href="/login">login</a> or <a href="/signup">sign up</a>!
        </p>
    {% endif %}
    {# Don't let one access modal via browser console when not logged in#}
    {% if user.is_authenticated %}
        <div id="formModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                {# Modal content#}
                <form id="postForm" method="post">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="modalTitle" class="modal-title"></h4>
                            <button type="button" class="close" 
                                data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <span id="postTitle" class="marked"></span>
                            <span id="postContent" class="marked"></span>
                            <div id="wmd-button-bar"></div>
                            <textarea id="wmd-input" name="content" 
                                class="wmd-input"></textarea>
                            <div id="wmd-preview" 
                                class="wmd-panel wmd-preview"></div>
                            <p id="modalContent"></p>
                        </div>
                        <div class="modal-footer">
                            <button id="submitForm" name="" 
                                onclick="this.form.submit()">Submit</button>
                            <button type="button" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
