{% extends "qa_web/base.html" %}
{% load staticfiles %}

{% block styles %}
    	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block header %}
<div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Sign Up</h1>
        <BR><BR><BR>
      </div>
</div>
{% endblock %}
{% block content %}
  <main>
    <br>
    <a href="/"><button>Back to Index</button></a>
    <br>
    <form method="post">
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}<br>
          {% if field.help_text %}<br>
            <small style="color: grey">{{ field.help_text|safe }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
      <button onclick="{location.href='/login'}">login</button>
    </form>
    <BR>
  </main>
{% endblock %}