<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">
            Copyright &copy; CONCORDIA UNIVERSITY : SOEN 341 PROJECT 
        </p>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white small">
            <a href="https://github.com/Lercerss/SOEN341W18">Github</a>
             . <a href="http://www.djangoproject.com/">Django</a> . 
             <a href="/admin">Admin Panel</a>
        </p>
    </div>
</footer>