<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Sign In to Ask, Answer &amp; Rate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {# A link to the user profile should be added here #}
                        <a class="nav-link" href="#">Welcome {{ user.username }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup/">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>