body{


    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
	background-image: url("commonTheme2.png");
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}